{{ partial "head.html" . }}

<div class="intro">
    <p>
        I'm Sebastian Waschnick. I build <a href="/games">games</a>, <a href="/projects">stuff</a> and write
        <a href="http://www.axelspringerideas.de/blog/index.php/author/waschnick/">things</a>. I live in Berlin
        <br>
        and I work to make the world more agile at <a href="http://asideas.de">AS Ideas Engineering</a>.
    </p>

    <ul class="contact-links">
        <li><a class="symbol about-me" href="https://about.me/sebastian.waschnick" target="_blank">&#xe001;</a></li>
        <li><a class="symbol mail" href="mailto:barriwaschi@web.de">&#xe024;</a></li>
        <li><a class="symbol facebook" href="https://www.facebook.com/sebastian.waschnick" target="_blank">&#xe027;</a></li>
        <li><a class="symbol instagram" href="https://www.instagram.com/waschnick/" target="_blank">&#xe100;</a></li>
        <li><a class="symbol googleplus" href="https://plus.google.com/u/0/103320058510285912263" target="_blank">&#xe039;</a></li>
        <li><a class="symbol github" href="https://github.com/CanardSauvage" target="_blank">&#xe037;</a></li>
        <li><a class="symbol linkedin" href="https://www.linkedin.com/in/sebastian-waschnick-b1366a104" target="_blank">&#xe052;</a></li>
        <li><a class="symbol twitter" href="https://twitter.com/waschnick" target="_blank">&#xe087;</a></li>
        <li><a class="symbol xing" href="https://www.xing.com/profile/Sebastian_Waschnick" target="_blank">&#xe095;</a></li>
    </ul>

    <p class="center grey-duck-logo"><img src="images/avatar-duck.png"></p>
</div>

<!--{{ partial "posts.html" .}}-->

{{ partial "footer.html" .}}
