{{ partial "head.html" . }}

<div class="intro">
    <p>
        Hi, I'm Sebastian "Waschi" Waschnick. I'm a professional geek, tech lead and product builder. I live in Leipzig,
        Germany. Looking for my <a href="/cv" target="_blank">cv</a>? Otherwise, you can find some of my articles on
        this page. I also run a podcast called <a href="https://tie-pod.com" target="_blank">The Innovation Engineer
        Podcast</a>.
    </p>

    <ul class="contact-links">
        <li><a class="symbol mail" href="mailto:sebastian.waschnick@gmail.com">&#xe024;</a></li>
        <li><a class="symbol instagram" href="https://www.instagram.com/waschnick/" target="_blank">&#xe100;</a></li>
        <li><a class="symbol github" href="https://github.com/Waschnick" target="_blank">&#xe037;</a></li>
        <li><a class="symbol linkedin" href="https://www.linkedin.com/in/sebastian-waschnick"
               target="_blank">&#xe052;</a></li>
        <li><a class="symbol xing" href="https://www.xing.com/profile/Sebastian_Waschnick" target="_blank">&#xe095;</a>

    </ul>

    <p class="center grey-duck-logo"><img src="images/avatar-duck.png"></p>
</div>

{{ partial "posts.html" .}}

{{ partial "footer.html" .}}
